<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="Minja_Soft.ZfsMiniTool.Installer" Name="ZfsMiniTool" Manufacturer="Minja Soft" Version="1.0.0.0">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
