<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?define SourceDir_ZfsMiniToolComponents="C:\Users\MinJa\Dev\ZfsMiniTool\ZfsMiniTool.UI.Cli\bin\publish\win-x64"?>
  <Fragment>
    <ComponentGroup Id="ZfsMiniToolComponents">
      <ComponentRef Id="Comp_appsettings_json" />
      <ComponentRef Id="Comp_clretwrc_dll" />
      <ComponentRef Id="Comp_clrgc_dll" />
      <ComponentRef Id="Comp_clrjit_dll" />
      <ComponentRef Id="Comp_CommunityToolkit.Mvvm_dll" />
      <ComponentRef Id="Comp_coreclr_dll" />
      <ComponentRef Id="Comp_createdump_exe" />
      <ComponentRef Id="Comp_hostfxr_dll" />
      <ComponentRef Id="Comp_hostpolicy_dll" />
      <ComponentRef Id="Comp_Microsoft.DiaSymReader.Native.amd64_dll" />
      <ComponentRef Id="Comp_Microsoft.Extensions.Configuration.Abstractions_dll" />
      <ComponentRef Id="Comp_Microsoft.Extensions.Configuration_dll" />
      <ComponentRef Id="Comp_Microsoft.Extensions.Configuration.FileExtensions_dll" />
      <ComponentRef Id="Comp_Microsoft.Extensions.Configuration.Json_dll" />
      <ComponentRef Id="Comp_Microsoft.Extensions.FileProviders.Abstractions_dll" />
      <ComponentRef Id="Comp_Microsoft.Extensions.FileProviders.Physical_dll" />
      <ComponentRef Id="Comp_Microsoft.Extensions.FileSystemGlobbing_dll" />
      <ComponentRef Id="Comp_Microsoft.Extensions.Primitives_dll" />
      <ComponentRef Id="Comp_Microsoft.Win32.Registry_dll" />
      <ComponentRef Id="Comp_mscordaccore_amd64_amd64_8.0.2025.41914_dll" />
      <ComponentRef Id="Comp_mscordaccore_dll" />
      <ComponentRef Id="Comp_mscordbi_dll" />
      <ComponentRef Id="Comp_mscorrc_dll" />
      <ComponentRef Id="Comp_msquic_dll" />
      <ComponentRef Id="Comp_System.Collections.Concurrent_dll" />
      <ComponentRef Id="Comp_System.Collections_dll" />
      <ComponentRef Id="Comp_System.Collections.Immutable_dll" />
      <ComponentRef Id="Comp_System.Collections.NonGeneric_dll" />
      <ComponentRef Id="Comp_System.ComponentModel.Primitives_dll" />
      <ComponentRef Id="Comp_System.ComponentModel.TypeConverter_dll" />
      <ComponentRef Id="Comp_System.Console_dll" />
      <ComponentRef Id="Comp_System.Diagnostics.Process_dll" />
      <ComponentRef Id="Comp_System.Diagnostics.StackTrace_dll" />
      <ComponentRef Id="Comp_System_dll" />
      <ComponentRef Id="Comp_System.IO.Compression_dll" />
      <ComponentRef Id="Comp_System.IO.Compression.Native_dll" />
      <ComponentRef Id="Comp_System.IO.FileSystem.Watcher_dll" />
      <ComponentRef Id="Comp_System.IO.MemoryMappedFiles_dll" />
      <ComponentRef Id="Comp_System.Linq_dll" />
      <ComponentRef Id="Comp_System.Memory_dll" />
      <ComponentRef Id="Comp_System.ObjectModel_dll" />
      <ComponentRef Id="Comp_System.Private.CoreLib_dll" />
      <ComponentRef Id="Comp_System.Reflection.Metadata_dll" />
      <ComponentRef Id="Comp_System.Security.Cryptography_dll" />
      <ComponentRef Id="Comp_System.Text.Json_dll" />
      <ComponentRef Id="Comp_ZfsMiniTool.Core_dll" />
      <ComponentRef Id="Comp_ZfsMiniTool.Core_pdb" />
      <ComponentRef Id="Comp_ZfsMiniTool_ico" />
      <ComponentRef Id="Comp_ZfsMiniTool.UI.Cli.deps_json" />
      <ComponentRef Id="Comp_ZfsMiniTool.UI.Cli_dll" />
      <ComponentRef Id="Comp_ZfsMiniTool.UI.Cli_exe" />
      <ComponentRef Id="Comp_ZfsMiniTool.UI.Cli.runtimeconfig_json" />
      <ComponentRef Id="Comp_Shortcut_ZfsMiniTool.UI.Cli_exe" />
    </ComponentGroup>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Comp_appsettings_json" Guid="39D393EA-40FE-4946-86B5-CFD037070F40">
        <File Id="File_appsettings_json" Name="appsettings.json" Source="$(var.SourceDir_ZfsMiniToolComponents)\appsettings.json" />
      </Component>
      <Component Id="Comp_clretwrc_dll" Guid="D04D8C21-EE4D-4174-BD5D-3481923DE8D0">
        <File Id="File_clretwrc_dll" Name="clretwrc.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\clretwrc.dll" />
      </Component>
      <Component Id="Comp_clrgc_dll" Guid="FDD8DC28-8C4B-486F-A856-8135CD2E0508">
        <File Id="File_clrgc_dll" Name="clrgc.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\clrgc.dll" />
      </Component>
      <Component Id="Comp_clrjit_dll" Guid="08A172EF-EA89-49DF-80DF-1E079E5B2CAB">
        <File Id="File_clrjit_dll" Name="clrjit.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\clrjit.dll" />
      </Component>
      <Component Id="Comp_CommunityToolkit.Mvvm_dll" Guid="ADDBA133-474A-4B40-8FCB-543FA85B4CB2">
        <File Id="File_CommunityToolkit.Mvvm_dll" Name="CommunityToolkit.Mvvm.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\CommunityToolkit.Mvvm.dll" />
      </Component>
      <Component Id="Comp_coreclr_dll" Guid="2661D55A-95CA-41AF-B1EA-03EFA2039F24">
        <File Id="File_coreclr_dll" Name="coreclr.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\coreclr.dll" />
      </Component>
      <Component Id="Comp_createdump_exe" Guid="B22A916C-F6B0-4C9E-B75B-15E3F5FE440A">
        <File Id="File_createdump_exe" Name="createdump.exe" Source="$(var.SourceDir_ZfsMiniToolComponents)\createdump.exe" />
      </Component>
      <Component Id="Comp_hostfxr_dll" Guid="20594D3C-38C9-4A33-A10F-0F262390C2D6">
        <File Id="File_hostfxr_dll" Name="hostfxr.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\hostfxr.dll" />
      </Component>
      <Component Id="Comp_hostpolicy_dll" Guid="971ABAD7-4691-4B28-907B-B92BB6B47DF0">
        <File Id="File_hostpolicy_dll" Name="hostpolicy.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\hostpolicy.dll" />
      </Component>
      <Component Id="Comp_Microsoft.DiaSymReader.Native.amd64_dll" Guid="BE151E8E-D128-4365-8B20-7F36A253FFE0">
        <File Id="File_Microsoft.DiaSymReader.Native.amd64_dll" Name="Microsoft.DiaSymReader.Native.amd64.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\Microsoft.DiaSymReader.Native.amd64.dll" />
      </Component>
      <Component Id="Comp_Microsoft.Extensions.Configuration.Abstractions_dll" Guid="2DFEF81B-24EF-461E-9EB4-CC9128E49C38">
        <File Id="File_Microsoft.Extensions.Configuration.Abstractions_dll" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\Microsoft.Extensions.Configuration.Abstractions.dll" />
      </Component>
      <Component Id="Comp_Microsoft.Extensions.Configuration_dll" Guid="47AEC9B1-40FB-4FD4-895E-1125740461E8">
        <File Id="File_Microsoft.Extensions.Configuration_dll" Name="Microsoft.Extensions.Configuration.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\Microsoft.Extensions.Configuration.dll" />
      </Component>
      <Component Id="Comp_Microsoft.Extensions.Configuration.FileExtensions_dll" Guid="128282F2-F692-4261-A08E-D4C852E3219E">
        <File Id="File_Microsoft.Extensions.Configuration.FileExtensions_dll" Name="Microsoft.Extensions.Configuration.FileExtensions.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
      </Component>
      <Component Id="Comp_Microsoft.Extensions.Configuration.Json_dll" Guid="E81436F8-8287-4D9A-871D-BC4D01754291">
        <File Id="File_Microsoft.Extensions.Configuration.Json_dll" Name="Microsoft.Extensions.Configuration.Json.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\Microsoft.Extensions.Configuration.Json.dll" />
      </Component>
      <Component Id="Comp_Microsoft.Extensions.FileProviders.Abstractions_dll" Guid="EE86CBFE-F564-4B55-99CC-0DFFB6963DA8">
        <File Id="File_Microsoft.Extensions.FileProviders.Abstractions_dll" Name="Microsoft.Extensions.FileProviders.Abstractions.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
      </Component>
      <Component Id="Comp_Microsoft.Extensions.FileProviders.Physical_dll" Guid="90C7BD94-6FAE-4BFF-A123-EAC17E3064CC">
        <File Id="File_Microsoft.Extensions.FileProviders.Physical_dll" Name="Microsoft.Extensions.FileProviders.Physical.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\Microsoft.Extensions.FileProviders.Physical.dll" />
      </Component>
      <Component Id="Comp_Microsoft.Extensions.FileSystemGlobbing_dll" Guid="739D2361-51FF-4FE5-B8FB-3934691213DB">
        <File Id="File_Microsoft.Extensions.FileSystemGlobbing_dll" Name="Microsoft.Extensions.FileSystemGlobbing.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\Microsoft.Extensions.FileSystemGlobbing.dll" />
      </Component>
      <Component Id="Comp_Microsoft.Extensions.Primitives_dll" Guid="FA96659B-4145-4245-9382-62BFDA675BB5">
        <File Id="File_Microsoft.Extensions.Primitives_dll" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\Microsoft.Extensions.Primitives.dll" />
      </Component>
      <Component Id="Comp_Microsoft.Win32.Registry_dll" Guid="FD924FB7-CB07-4640-A2CF-7EBCD4B17114">
        <File Id="File_Microsoft.Win32.Registry_dll" Name="Microsoft.Win32.Registry.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\Microsoft.Win32.Registry.dll" />
      </Component>
      <Component Id="Comp_mscordaccore_amd64_amd64_8.0.2025.41914_dll" Guid="0B54A892-85D0-4E08-974A-47ECD2DEEA9C">
        <File Id="File_mscordaccore_amd64_amd64_8.0.2025.41914_dll" Name="mscordaccore_amd64_amd64_8.0.2025.41914.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\mscordaccore_amd64_amd64_8.0.2025.41914.dll" />
      </Component>
      <Component Id="Comp_mscordaccore_dll" Guid="36BF5B48-6EF0-47CB-BBB9-EE9C0E10A62D">
        <File Id="File_mscordaccore_dll" Name="mscordaccore.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\mscordaccore.dll" />
      </Component>
      <Component Id="Comp_mscordbi_dll" Guid="FB72A9C1-4832-4D04-A015-A89CD7ABB834">
        <File Id="File_mscordbi_dll" Name="mscordbi.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\mscordbi.dll" />
      </Component>
      <Component Id="Comp_mscorrc_dll" Guid="B3F7BE5B-014A-4077-82C7-37541860B330">
        <File Id="File_mscorrc_dll" Name="mscorrc.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\mscorrc.dll" />
      </Component>
      <Component Id="Comp_msquic_dll" Guid="1D873C07-1F36-43AE-B2B0-00BD97EED9E9">
        <File Id="File_msquic_dll" Name="msquic.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\msquic.dll" />
      </Component>
      <Component Id="Comp_System.Collections.Concurrent_dll" Guid="4FAA62E7-F3CF-4567-AFAE-868B2EB1E45E">
        <File Id="File_System.Collections.Concurrent_dll" Name="System.Collections.Concurrent.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.Collections.Concurrent.dll" />
      </Component>
      <Component Id="Comp_System.Collections_dll" Guid="248C4EB6-AC14-4290-B544-098309813794">
        <File Id="File_System.Collections_dll" Name="System.Collections.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.Collections.dll" />
      </Component>
      <Component Id="Comp_System.Collections.Immutable_dll" Guid="DDC8B4F7-3EF8-40A5-B6A0-8FC159A3B694">
        <File Id="File_System.Collections.Immutable_dll" Name="System.Collections.Immutable.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.Collections.Immutable.dll" />
      </Component>
      <Component Id="Comp_System.Collections.NonGeneric_dll" Guid="DD08A55E-26F0-407D-9D4E-2787AD257F7A">
        <File Id="File_System.Collections.NonGeneric_dll" Name="System.Collections.NonGeneric.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.Collections.NonGeneric.dll" />
      </Component>
      <Component Id="Comp_System.ComponentModel.Primitives_dll" Guid="9DF688D7-B261-4A45-AA87-BCFAA1678BB7">
        <File Id="File_System.ComponentModel.Primitives_dll" Name="System.ComponentModel.Primitives.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.ComponentModel.Primitives.dll" />
      </Component>
      <Component Id="Comp_System.ComponentModel.TypeConverter_dll" Guid="F79A2FC2-6A05-4EAA-8BA0-F40FF3635266">
        <File Id="File_System.ComponentModel.TypeConverter_dll" Name="System.ComponentModel.TypeConverter.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.ComponentModel.TypeConverter.dll" />
      </Component>
      <Component Id="Comp_System.Console_dll" Guid="7CB23C2A-68D5-49AD-8792-092FD647FD3F">
        <File Id="File_System.Console_dll" Name="System.Console.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.Console.dll" />
      </Component>
      <Component Id="Comp_System.Diagnostics.Process_dll" Guid="8E892086-C33D-4A20-86AC-16B1F8D0174E">
        <File Id="File_System.Diagnostics.Process_dll" Name="System.Diagnostics.Process.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.Diagnostics.Process.dll" />
      </Component>
      <Component Id="Comp_System.Diagnostics.StackTrace_dll" Guid="22D18C9A-7ACF-4979-96DB-E3C9469BBDEB">
        <File Id="File_System.Diagnostics.StackTrace_dll" Name="System.Diagnostics.StackTrace.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.Diagnostics.StackTrace.dll" />
      </Component>
      <Component Id="Comp_System_dll" Guid="DFB3EB86-A295-441B-B304-B87AFE12173C">
        <File Id="File_System_dll" Name="System.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.dll" />
      </Component>
      <Component Id="Comp_System.IO.Compression_dll" Guid="6DC703B7-D752-4034-B832-CA739FBDE1EF">
        <File Id="File_System.IO.Compression_dll" Name="System.IO.Compression.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.IO.Compression.dll" />
      </Component>
      <Component Id="Comp_System.IO.Compression.Native_dll" Guid="14C92A39-E884-4EDA-A261-60390E19010A">
        <File Id="File_System.IO.Compression.Native_dll" Name="System.IO.Compression.Native.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.IO.Compression.Native.dll" />
      </Component>
      <Component Id="Comp_System.IO.FileSystem.Watcher_dll" Guid="B7EADB1E-7F2A-4831-8406-5D18EF560BDD">
        <File Id="File_System.IO.FileSystem.Watcher_dll" Name="System.IO.FileSystem.Watcher.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.IO.FileSystem.Watcher.dll" />
      </Component>
      <Component Id="Comp_System.IO.MemoryMappedFiles_dll" Guid="5C56DE5B-27CC-4659-B098-C727517010F7">
        <File Id="File_System.IO.MemoryMappedFiles_dll" Name="System.IO.MemoryMappedFiles.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.IO.MemoryMappedFiles.dll" />
      </Component>
      <Component Id="Comp_System.Linq_dll" Guid="717571E5-FDD4-4092-8203-275CE943E2B5">
        <File Id="File_System.Linq_dll" Name="System.Linq.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.Linq.dll" />
      </Component>
      <Component Id="Comp_System.Memory_dll" Guid="F478461A-C9E9-4451-9B7F-7193A080F3C5">
        <File Id="File_System.Memory_dll" Name="System.Memory.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.Memory.dll" />
      </Component>
      <Component Id="Comp_System.ObjectModel_dll" Guid="63353DB3-651C-4BC7-925A-10D6A4DE7F6E">
        <File Id="File_System.ObjectModel_dll" Name="System.ObjectModel.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.ObjectModel.dll" />
      </Component>
      <Component Id="Comp_System.Private.CoreLib_dll" Guid="B183D1E5-5038-4B7C-9878-34D7C216D5BB">
        <File Id="File_System.Private.CoreLib_dll" Name="System.Private.CoreLib.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.Private.CoreLib.dll" />
      </Component>
      <Component Id="Comp_System.Reflection.Metadata_dll" Guid="880500E4-3044-45C2-B3B9-BDDC8C7384F8">
        <File Id="File_System.Reflection.Metadata_dll" Name="System.Reflection.Metadata.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.Reflection.Metadata.dll" />
      </Component>
      <Component Id="Comp_System.Security.Cryptography_dll" Guid="BAB0B80A-3202-4764-AB2F-87A75B8A8216">
        <File Id="File_System.Security.Cryptography_dll" Name="System.Security.Cryptography.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.Security.Cryptography.dll" />
      </Component>
      <Component Id="Comp_System.Text.Json_dll" Guid="DCD96C3C-2C26-47E1-BF5C-B2E73F6F571F">
        <File Id="File_System.Text.Json_dll" Name="System.Text.Json.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\System.Text.Json.dll" />
      </Component>
      <Component Id="Comp_ZfsMiniTool.Core_dll" Guid="600F0832-EA3F-4D62-936D-E0C68DF951D7">
        <File Id="File_ZfsMiniTool.Core_dll" Name="ZfsMiniTool.Core.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\ZfsMiniTool.Core.dll" />
      </Component>
      <Component Id="Comp_ZfsMiniTool.Core_pdb" Guid="3FD9C9C6-D75B-40F6-97E3-018558C23119">
        <File Id="File_ZfsMiniTool.Core_pdb" Name="ZfsMiniTool.Core.pdb" Source="$(var.SourceDir_ZfsMiniToolComponents)\ZfsMiniTool.Core.pdb" />
      </Component>
      <Component Id="Comp_ZfsMiniTool_ico" Guid="4B268090-4E11-4620-B8BC-3C3524239DC0">
        <File Id="File_ZfsMiniTool_ico" Name="ZfsMiniTool.ico" Source="$(var.SourceDir_ZfsMiniToolComponents)\ZfsMiniTool.ico" />
      </Component>
      <Component Id="Comp_ZfsMiniTool.UI.Cli.deps_json" Guid="FCA6FF19-C0E1-44CD-A17C-5860B9F09C90">
        <File Id="File_ZfsMiniTool.UI.Cli.deps_json" Name="ZfsMiniTool.UI.Cli.deps.json" Source="$(var.SourceDir_ZfsMiniToolComponents)\ZfsMiniTool.UI.Cli.deps.json" />
      </Component>
      <Component Id="Comp_ZfsMiniTool.UI.Cli_dll" Guid="9D089D20-8030-47E5-A72F-279E979FD533">
        <File Id="File_ZfsMiniTool.UI.Cli_dll" Name="ZfsMiniTool.UI.Cli.dll" Source="$(var.SourceDir_ZfsMiniToolComponents)\ZfsMiniTool.UI.Cli.dll" />
      </Component>
      <Component Id="Comp_ZfsMiniTool.UI.Cli_exe" Guid="10650CB8-708A-4F77-8A10-8C7AD3DA3CBE">
        <File Id="File_ZfsMiniTool.UI.Cli_exe" Name="ZfsMiniTool.UI.Cli.exe" Source="$(var.SourceDir_ZfsMiniToolComponents)\ZfsMiniTool.UI.Cli.exe" />
      </Component>
      <Component Id="Comp_ZfsMiniTool.UI.Cli.runtimeconfig_json" Guid="31242FD7-3484-46D1-A73E-750237832975">
        <File Id="File_ZfsMiniTool.UI.Cli.runtimeconfig_json" Name="ZfsMiniTool.UI.Cli.runtimeconfig.json" Source="$(var.SourceDir_ZfsMiniToolComponents)\ZfsMiniTool.UI.Cli.runtimeconfig.json" />
      </Component>
    </DirectoryRef>
    <StandardDirectory Id="ProgramMenuFolder">
      <Component Id="Comp_Shortcut_ZfsMiniTool.UI.Cli_exe" Guid="48CFBB6C-1B70-4DA7-B218-E21A7E8C030D">
        <Shortcut Id="Shortcut_ZfsMiniTool.UI.Cli_exe" Name="ZfsMiniTool.UI.Cli" Description="ZfsMiniTool.UI.Cli" Target="[INSTALLFOLDER]ZfsMiniTool.UI.Cli.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="Remove_Shortcut_ZfsMiniTool.UI.Cli_exe" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Shortcuts" Name="Shortcut_ZfsMiniTool.UI.Cli_exe" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>
  </Fragment>
</Wix>